<div id="device-container">
    @if (devices.length === 0) {
    <p>No devices found</p>
    }
    @else {

    @for (device of devices; track device.id)

    {
    <div id="device-card">
        <h2>{{ device.name }}</h2>
        <p> Manufacturer: {{ device.manufacturer }} </p>
        <p> Device type: {{ device.deviceType }} </p>
        @if (device.user) {
        <p> Assigned to: {{ device.user.name }} ({{ device.user.email }}) </p>
        } @else {
        <p> Unassigned</p>
        }
        <button (click)="viewDevice(device.id)">View details</button>
    </div>
    }
    }
</div>