<div id="device-container">
    @if (devices.length === 0) {
    <p>No devices found</p>
    }
    @else {

    @for (device of devices; track device.id)

    {
    <div class="card">

        <button (click)="onDeleteClick(device.id)" class="delete-btn" title="Delete">&#x2716;</button>

        <h2>{{ device.name }}</h2>
        <p> Manufacturer: {{ device.manufacturer }} </p>
        <p> Device type: {{ device.deviceType }} </p>
        @if (device.user) {
        <p> Assigned to: {{ device.user.name }} ({{ device.user.email }}) </p>
        } @else {
        <p> Unassigned</p>
        }
        <button (click)="onViewClick(device.id)">View details</button>

    </div>
    }
    }
</div>