<div id="viewDevice">
    <div class="device-main">
        <app-device-form [initialData]="device" (formSubmitted)="updateDetails($event)" [formTitle]="formTitle" />
    </div>

    <div class="device-sidebar">
        <div class="device-user">
            <h3>User details</h3>
            @if (device?.user) {

            <p> Assigned to: </p>
            <ul>
                <li>{{ device?.user?.name }} ({{ device?.user?.email }})</li>
                <li>Role: {{device?.user?.role }}</li>
                <li>Location: {{device?.user?.location}}</li>
            </ul>
            } @else {
            <p> Unassigned</p>
            }
        </div>

        <div class="device-actions">
            <h3>Options</h3>
            @if (canAssign) {
            <button (click)="assignDevice()">Assign this device to me</button>
            }

            @if (canUnassign) {
            <button (click)="unassignDevice()">Unassign device</button>
            }
        </div>
    </div>
</div>