<div id="device-form">
    <!-- @if (errorMessage) {
    <p>{{errorMessage}}</p>
    } -->

    <button (click)="close()">Close</button>

    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="device-name">Device name:</label>
            <input id="device-name" type="text" formControlName="deviceName" />
            @if (deviceForm.get('deviceName')?.touched && deviceForm.get('deviceName')?.invalid) {
                <p>Name is required</p>
            }
        </div>

        <div class="form-group">
            <label for="device-manufacturer">Manufacturer:</label>
            <input id="device-manufacturer" type="text" formControlName="deviceManufacturer" />
             @if (deviceForm.get('deviceManufacturer')?.touched && deviceForm.get('deviceManufacturer')?.invalid) {
                <p>Manufacturer is required</p>
            }
        </div>

        <div class="form-group">
            <label for="device-type">Type:</label>
            <select name="device-type" id="device-type" formControlName="deviceType">
                <option value="">Select device type</option>
                <option value="Phone">Phone</option>
                <option value="Tablet">Tablet</option>
            </select>
             @if (deviceForm.get('deviceType')?.touched && deviceForm.get('deviceType')?.invalid) {
                <p>Type is required</p>
            }
        </div>

        <div class="form-group">
            <label for="device-os">Operating System (OS):</label>
            <input id="device-os" type="text" formControlName="deviceOS" />
             @if (deviceForm.get('deviceOS')?.touched && deviceForm.get('deviceOS')?.invalid) {
                <p>OS is required</p>
            }
        </div>


        <div class="form-group">
            <label for="device-os-version">OS version:</label>
            <input id="device-os-version" type="text" formControlName="deviceOSVersion" />
             @if (deviceForm.get('deviceOSVersion')?.touched && deviceForm.get('deviceOSVersion')?.invalid) {
                <p>OS Version is required</p>
            }
        </div>

        <div class="form-group">
            <label for="device-processor">Processor:</label>
            <input id="device-processor" type="text" formControlName="deviceProcessor" />
             @if (deviceForm.get('deviceProcessor')?.touched && deviceForm.get('deviceProcessor')?.invalid) {
                <p>Processor is required</p>
            }
        </div>

        <div class="form-group">

            <label for="device-ram-amount">RAM Amount:</label>
            <input id="device-ram-amount" type="text" formControlName="deviceRamAmount" />
             @if (deviceForm.get('deviceRamAmount')?.touched && deviceForm.get('deviceRamAmount')?.invalid) {
                <p>RAM amount is required</p>
            }
        </div>

        <div class="form-group">
            <label for="device-description">Description:</label>
            <input id="device-description" type="text" formControlName="deviceDescription" />
             @if (deviceForm.get('deviceDescription')?.touched && deviceForm.get('deviceDescription')?.invalid) {
                <p>Description is required</p>
            }
        </div>

        <div class="form-group">
            <button type="submit" [disabled]="deviceForm.invalid">Submit</button>
        </div>

    </form>
</div>