#device-form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

#device-form>button {
    align-self: flex-end;
    margin-bottom: 16px;
}

textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: inherit;
}